body,
html {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
}

#main {
    background-image: url('night1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#submitBtn {
    display: none;
}

#weatherDiv {
    flex-grow: 100;
}

input {
    border-radius: 10px;
    min-width: 13vw;
    padding: .5vh;
}

#searchBarDiv {
    padding: 2vh 2vw;
    display: flex;
    justify-content: flex-end;
}