body,
html {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}

#main {
    background-image: url('forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#submitBtn {
    display: none;
}

#errorMessage {
    padding-top: 1vh;
    font-weight: bold;
}

#weatherCodeDiv {
    font-size: 1.5rem;
}

#locationDiv {
    font-size: 2rem;
    padding-bottom: 2vh;
}

#weatherDiv {
    flex-grow: 100;
    padding: 30vh 15vw;
    display: flex;
    flex-direction: column;
}

#tempDiv {
    display: flex;
    column-gap: 2vw;
}

#feelsLikeDiv {
    display: flex;
}

#feelsLikeDiv > span {
    font-size: small;
}

#degreeDiv {
    padding-top: 1vh;
    font-size: 5rem;
    display: flex;
}

#detailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1vw;
    border-left: 1px solid whitesmoke;
}

span {
    font-size: 1.5rem;
}


input {
    border-radius: 10px;
    min-width: 13vw;
    padding: .5vh;
}

#searchBarDiv {
    padding: 2vh 2vw;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}